<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Braces - Tabbed.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF340E811CE156F200F7B14A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF340E971CE156F300F7B14A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF340EA21CE156F300F7B14A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
